<script src="../../../../../server/main.js"></script><h3>Transfer de data d'un composant à un autre</h3>
<button (click)="sendData()">Envoyer du data à l'enfant</button>
<p>Log:</p>
<div class="log">
  <div class="logEntry" *ngFor="let log of logs">log</div>
</div>
