<h2>Informations sur les questions</h2>
<p><b>Question 1: API</b></p>
<p>Dans la question 1, vous devez récupérer du data sur le serveur et l'afficher. Le lien pour accéder au serveur est fourni dans le component de la question 1. Si vous avez besoin de faire des modifications sur le serveur, vous pouvez y accéder dans le dossier "server"</p>
<p>Pour que la question 1 fonctionne, il faut démarrer le serveur en ouvrant une invite de commande et en entrant "node main.js" Vous devriez voir le message suivant "Le serveur écoute sur le port 4201".</p>
<p><b>Question 2: Passer des données d'un composant à un autre</b></p>
<p>Dans la question 2, vous devez faire passer des données d'un composant à un autre. Vous devez utiliser le composant EnfantComponent. EnfantComponent doit recevoir du data du parent lors d'un clique et avertir le parent qu'il vient de changer de data. Le parent va afficher à l'écran un log pour chaque changement de data.</p>
<p><b>Question 3: Responsive layout</b></p>
<p>Dans la question 3, vous devez faire en sorte que le data soit lisible sur un téléphone, une tablette et un ordinateur. Vous devez afficher tous les champs du data.</p>
<p><b>Question 4: CSS</b></p>
<p>Dans la question 4, vous devez reproduire le contenue de l'image en CSS. </p>
<p><b>Question 5: Bonus: Algorithme</b></p>
<p>Dans la question 5, vous devez faire un algorithme pour afficher le 100000 ième nombre premier. Essayez de faire un algorithme qui n'est pas un brute force.</p>
